﻿@model FortuneTellerMVC.Models.Customer
@{
    ViewBag.Title = "Details";
}
<h2>Here is your future...</h2>
<div>
    <hr />
    <p>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>
    <p>You will retire in <span>@ViewBag.RetirementAge</span></p>
    <p>You will retire with @Html.DisplayFor(model => model.Saving.SavingsAmount) in the Bank.</p>
    <p>You will have a vacation home in </p>
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthMonth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthMonth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FavColor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FavColor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumOfSiblings)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumOfSiblings)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Saving.SavingsAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Saving.SavingsAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Transportation.Transportation1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Transportation.Transportation1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VacationHome.VacationHome1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VacationHome.VacationHome1)
            </dd>

        </dl>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
